.navbar {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

#logo {
    text-align: center;
    font-family: mont-heavy, sans-serif;
    font-size: 2rem;
    text-decoration: none;
}

.nav-links {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    gap: 1em;
    text-align: center;
}

.nav-link {
    font-family: mont-heavy, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
}

.nav-link:hover {
        background: rgba(255, 255, 255, 0.2);
        font-size: 1.4em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
}

.nav-link:active {
    font-size: 2em;
    transition: font-size 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    align-items: flex-end;
    transition: 
        padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), 
        font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 75em) and (pointer: fine) {
    #logo {
        font-size: 1.5rem;
        order: 0;
        margin-left: 1em;
    }

    .hamburger {
        display: block;
        order: 1;
        margin: 0;
    }

    .hamburger:hover {
        font-size: 2.5em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }


    .navbar {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background-color: #1a60af;
        border: 0.1em solid rgba(0, 0, 0, 0.1);
    }

    .nav-links {
        order: 2;
        position: relative;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: max-height 0.65s ease, opacity 0.5s ease;
        opacity: 0;
        z-index: 1000;
    }

    .nav-links.active {
        max-height: 15em;
        opacity: 1;
    }

    .nav-link {
        white-space: nowrap;
        width: 35%;
        text-align: center;
        padding: 0.8em 1em;
        margin-bottom: 0.5em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.2);
        font-size: 1.35em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
    }

    .nav-link-start {
        margin-top: 1em;
    }

    .nav-link-end {
        margin-bottom: 1em;
    }
}

/* MOBILE */
@media (max-width: 75em) and (pointer: coarse) {
    #logo {
        font-size: 1.5rem;
        order: 0;
        margin-left: 1em;
    }

    .hamburger {
        display: block;
        order: 1;
        margin: 0;
    }

    .navbar {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background-color: #1a60af;
        border: 0.1em solid rgba(0, 0, 0, 0.1);
    }

    .nav-links {
        order: 2;
        position: relative;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: max-height 0.65s ease, opacity 0.5s ease;
        opacity: 0;
        z-index: 1000;
    }

    .nav-links.active {
        max-height: 15em;
        opacity: 1;
    }

    .nav-link {
        white-space: nowrap;
        width: 35%;
        text-align: center;
        padding: 0.8em 1em;
        margin-bottom: 0.5em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
    }

    .nav-link:hover {
        background: rgba(255, 255, 255, 0.2);
        font-size: 1.35em;
        transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background 0.3s ease;
    }

    .nav-link-start {
        margin-top: 1em;
    }

    .nav-link-end {
        margin-bottom: 1em;
    }
}