/* setup for spacing */
#project-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
#robots-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* individual robot card styling */
.card {
    padding: 8px;
    width: 24vw;
    max-width: 600px;
    aspect-ratio: 9 / 16;
    border-radius: 1rem;
    overflow: hidden;

  
}
.card img {
    width: 100%;             
    height: 100%;             
    object-fit: cover;        
    object-position: center;
    border: 2px solid #000;
    border-radius: 3rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    
  }