<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paragon Robotics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body background="/static/images/Untitled-1.svg" style="background-repeat: no-repeat; background-attachment: fixed; background-size: 200rem; background-position: left;">

    <!-- Navbar -->
    {% include "_navbar.html" %}

    <!-- Header -->
    <h1 class="delay1 anim1">
        Team 571
        <div>Paragon Robotics</div>
        We Build Futures for Students.
    </h1>

    <!-- Slideshow -->
    <div class="delay2 anim1" id="slideshow"></div>

    <!-- Paragraph -->
    <p class="delay3 anim1" style="max-width: 40em; margin: auto;">
        Paragon Robotics is a student-led robotics team based in Windsor, Connecticut. We are dedicated to inspiring and empowering students through hands-on experience in robotics, engineering, and technology. Our mission is to foster a passion for STEM (Science, Technology, Engineering, and Mathematics) among young minds and prepare them for future careers in these fields.
    </p>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/navbar-toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slideshow.js') }}"></script>
</body>
</html>